#assistant {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
}

#assistant-img {
  height: 18em;
  cursor: pointer;
}

#assistant-dialog {
  position: absolute;
  bottom: 8em;
  right: 15em;
  background: white;
  padding: 16px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  font-family: sans-serif;
  display: none;
  flex-direction: column;
  gap: 12px;
  min-width: 300px;
  max-width: 360px;
}

#assistant.show-dialog #assistant-dialog {
  display: flex;
}

.dialog-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.dialog-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.dialog-buttons button {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid rgba(110, 149, 220, 0.61);
  background-color: #FFFFFF;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap
}

#assistant.expanded #assistant-dialog {
  display: flex;
}

.assistant-hidden #assistant-dialog {
  display: none !important;
}

#assistant.expanded #assistant-dialog {
  display: flex;
}
