.full-width-banner {
  display: block;
  width: 100%;
  height: auto;
}

.parallax-container {
  position: relative;
  overflow: hidden;
}

.image-with-text {
  position: relative;
  overflow: hidden;
}

.on-image-text {
  position: absolute;
  top: 10%;
  left: 6%;
  width: 100%;
  height: 100%;
  /* чтобы текст над картинкой был чуть “лёгким” */
  pointer-events: none;
}

.parallax-text {
  position: absolute;
  top: 10%;
  left: 6%;
  transform: translateY(-50%);
  will-change: transform;
  /* pointer-events: auto; если вам нужны hover-события */
}

.map-card {
  position: relative;
  background: white;
  padding: 1em 1em 8em;
  border-radius: 25px;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.1);
}

.on-map-text {
  position: absolute;
  top: 80%;
  left: 6%;
}
