.items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0.5fr));
  gap: 47px;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  /*padding: 0px;*/
}

.item-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.item-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.item-image {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.btn-view {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}

.btn-view:hover {
  background-color: #0056b3;
}
