.container {
  width: 100%;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.navbar {
  max-height: 70px;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.left-block {
  padding-left: 6%;
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
}

.right-block {
  padding-right: 6%;
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
}

.section {
  margin-top: 6%;
  margin-bottom: 6%;
  padding-left: 6%;
  padding-right: 6%;
  overflow: auto;
}

.header-line {
  min-height: 25px;
  background-color: #FFF4E5;
}

.logo {
  clear: both;
}

.nav-title {
  padding-left: 8px;
  clear: both;
  display: inline;
}

.footer {
  padding-left: 6%;
  padding-bottom: 0.25em;
}
