.container, .navbar {
  padding: 20px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #f4f4f4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.navbar {
  align-items: center;
  background-color: #370617;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  /*color: white;*/
  text-decoration: none;
}
