.container {
  padding: 20px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.navbar {
  max-height: 70px;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
}

.section {
  margin-top: 7%;
  margin-left: 12%;
  margin-right: 12%;
  overflow: auto;
}

.header-line {
  min-height: 25px;
  background-color: #FFF4E5;
}

.logo {
  padding-left: 6%;
  clear: both;
}

.nav-title {
  padding-left: 8px;
  clear: both;
}

.nav-right-link {
  padding-right: 8px;
  clear: both;
  float: right;
}
