.title-lg {
  font-size: 1.75rem;
  /*I need 26px, 1rem=16px*/
}

.nav-element-text a {
  font-size: 1.2rem;
  color: #4A4A4A;
}

.nav-right-link a {
  padding-left: 8px;
}

.title-md, .title {
  font-size: 150%;
}

.title-sm {
  font-size: 115%;
}

.text-sm {
  font-size: 80%;
}

.text-bold {
  font-weight: bold;
}

.text-semi-bold {
  font-weight: 400;
}

.custom-list {
  list-style: none;
  padding-left: 0;
}

.custom-list li {
  display: flex;
  align-items: center;
  gap: 8px;
}
