.title-lg {
  font-size: 1.75rem;
  /*I need 26px, 1rem=16px*/
}

.nav-element-text a {
  font-size: 1.2rem;
  color: #4A4A4A;
}

.title-md, .title {
  font-size: 150%;
}

.title-sm {
  font-size: 125%;
}

.text-sm {
  font-size: 80%;
}

.text-bold {
  font-weight: bold;
}

