.title-lg {
  font-size: 1.75rem;
  /*I need 26px, 1rem=16px*/
}

.nav-element-text a {
  font-size: 1.2rem;
  color: #4A4A4A;
}

.nav-right-link a {
  padding-left: 8px;
}

.title-md, .title {
  font-size: 150%;
}

.title-sm {
  font-size: 115%;
}

.text-sm {
  font-size: 80%;
}

.text-bold {
  font-weight: bold;
}

.text-semi-bold {
  font-weight: 400;
}

.custom-list {
  list-style: none;
  padding-left: 0;
  position: absolute;
  top: 160%;
}

.custom-list li {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 130%;
}

.custom-list i {
  color: #F29515;
  width: 24px;
}

.message {
  width: 100%;
  padding: 1% 6%;
  font-weight: bolder;
}

.message-notice {
  background-color: rgba(159, 199, 130, 0.5);
}
